<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phil Gear - Mentor | Action-Taker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="background-grid">
    <header>
        <h1>Phil Gear</h1>
        <p>Mentor | Action-Taker</p>
    </header>

    <div class="container">
        <section id="websites">
            <h2>My Websites</h2>
            {{range .Websites}}
            <div class="card">
                <a href="{{.URL}}" class="btn">
                    <span class="material-icons">language</span> {{.Name}}
                </a>
                <p>Last Updated: {{ .FormattedLastUpdate }}</p>
                <p class="description">{{.Description}}</p>
            </div>
            {{end}}
        </section>

        <section id="social-media">
            <h2>Connect With Me</h2>
            {{range .SocialMedia}}
            <div class="card">
                <a href="{{.URL}}" class="btn">
                    <span class="material-icons">share</span> {{.Platform}}
                </a>
                <p>Last Updated: {{ .FormattedLastUpdate }}</p>
                <p class="description">{{.Description}}</p>
            </div>
            {{end}}
        </section>

        <section id="affiliate-links">
            <h2>Affiliate Links</h2>
            {{range .AffiliateLinks}}
            <div class="card">
                <a href="{{.URL}}" class="btn">
                    <span class="material-icons">shopping_cart</span> {{.Name}}
                </a>
            </div>
            {{end}}
        </section>

          <section id="donate">
            <h2>Support My Work</h2>
            <div class="card">
            <p>If you find my work valuable, consider making a donation.</p>
            <a href="https://www.paypal.com/donate/?hosted_button_id=UZRCA43ELSJRE" class="btn">Make a Donation</a>
        </div>
          </section>

    </div>

    <footer>
        <p>&copy; 2024 Phil Gear. Dedicated to helping others and taking action.</p>
    </footer>


</body>
</html>
